body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e8e2b3;
}

#gameover {
    position: absolute;
    max-width: 220px;
    top: 180px;
}

#win {
    position: absolute;
    max-width: 200px;
    top: 168px;
}

#start-button {
    width: 200px;
    padding: 10px;
    position: absolute;
    top: 520px;
    color: #1d6b3b;
    border-color: #1d6b3b
}

#play-again {
    width: 200px;
    padding: 10px;
    position: absolute;
    top: 500px;
    color: #1d6b3b;
    border-color: #1d6b3b
}


#try-again {
    width: 200px;
    padding: 10px;
    position: absolute;
    top: 490px;
    color: #1d6b3b;
    border-color: #1d6b3b;
}


.toggle {
    display: none;
}

#canvas {
    border: 10px ridge #1d6b3b;
    background-color: #e8e2b3;
}

