body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a6a6a6;
}

#start-button {
    width: 200px;
    padding: 10px;
    position: absolute;
    top: 520px;
    color: gray;
}

#play-again {
    width: 200px;
    padding: 10px;
    position: absolute;
    top: 450px;
    color: gray;
}

.toggle {
    display: none;
}

#canvas {
    border: 2px solid white;
}

